body {
	--scrollbar-width: calc(100vw - 100%);
}

#top-pane {
	min-height: 100vh;
}

#top-pane::before {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 50px calc(100vw - 20px);
	border-color: transparent transparent #e91e63;
	z-index: 1;
}

#top-pane::after {
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 100px calc(80vw - 10px) 0 calc(20vw - 10px);
	border-color: #e91e63 transparent transparent transparent;
	z-index: 1;
}

#branch-pane::after {
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 100px calc(50vw - 10px) 0 calc(50vw - 10px);
	border-color: #2196f3 transparent transparent transparent;
	z-index: 1;
}

#menu-pane::after {
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 100px calc(50vw - 10px) 0 calc(50vw - 10px);
	border-color: #e91e63 transparent transparent transparent;
	z-index: 1;
}

#comment-pane {
	position: relative;
}

#comment-pane::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 calc(50vw - 10px) 100px calc(50vw - 10px);
	border-color: transparent transparent #e91e63 transparent;
	z-index: 3;
}

@media screen and (min-width: 576px) {
	.left-pane::after {
		content: '';
		position: absolute;
		left: 100%;
		top: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 100vh 0 0 100px;
		border-color: transparent transparent transparent #e91e63;
		z-index: 1;
	}
}

.option-pane {
	list-style-type: none;
}

.option {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 1rem;
	position: relative;
	left: 0;
	cursor: pointer;
	text-transform: uppercase;
}

.option:hover {
	left: 0.5rem;
}

.option:before {
	content: '';
	position: absolute;
	left: -17px;
	top: calc(50% - 2.5px);
	width: 5px;
	height: 5px;
	border-radius: 2.5px;
	background-color: white;
}

.option:hover::before {
	content: '';
	position: absolute;
	left: -17px;
	top: calc(50% - 5px);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 8.7px;
	border-color: transparent transparent transparent white;
	background-color: transparent;
}

.animate {
	-webkit-transition: all 500ms cubic-bezier(0.000, 1.000, 0.000, 1.000);
	-moz-transition: all 500ms cubic-bezier(0.000, 1.000, 0.000, 1.000);
	-o-transition: all 500ms cubic-bezier(0.000, 1.000, 0.000, 1.000);
	transition: all 500ms cubic-bezier(0.000, 1.000, 0.000, 1.000);
	/* custom */

	-webkit-transition-timing-function: cubic-bezier(0.000, 1.000, 0.000, 1.000);
	-moz-transition-timing-function: cubic-bezier(0.000, 1.000, 0.000, 1.000);
	-o-transition-timing-function: cubic-bezier(0.000, 1.000, 0.000, 1.000);
	transition-timing-function: cubic-bezier(0.000, 1.000, 0.000, 1.000);
	/* custom */
}

.btn-circle {
	width: 1.5rem;
	height: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	padding: 0;
	border-radius: 50%;
}

.btn-circle i {
	position: relative;
	top: -1px;
}